.button {
  border: 2px solid hsl(348, 86%, 43%);
  color: hsl(348, 86%, 43%);
}

.button:hover,
.checkout__button:hover {
  background-color: hsl(348, 86%, 43%);
  border-color: hsl(348, 86%, 43%);
  color: white;
}

.checkout__button {
  width: 25.5rem;
  margin: 4rem 0;
}

.checkout__border {
  border: none;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 2%);
}

.cart {
  border: 2px solid hsl(348, 86%, 43%);
  border-radius: 50%;
}

a {
  color: hsl(348, 86%, 43%);
}

.navbar-item img {
  max-height: none;
}

.order__button {
  border: 2px solid white;
}
.order__button:hover {
  border: 2px solid white;
  color: black;
  background-color: white;
}
