input {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: black;
  border: 2px solid hsl(348, 86%, 43%);
  background-clip: padding-box;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}
